<div id="topbanner">
<div class="container">
<h1 id="sitename"><a href="#">CSS Heaven </a> <span>Free CSS Template</span>

</h1>
<div id="mainnav">
<ul>
	<li class="active"><a href="index.html">Welcome <span>home..</span></a></li>
    <li><a href="style.html">Style <span>examples</span></a></li>
    <li><a href="about.html">About <span>another example</span></a></li>
    <li><a href="blog.html">Blog <span>examples of posts</span></a></li>
</ul>
</div>
<div class="clear"></div>
</div>
</div>
<div id="pagewrap">
<div id="wrap">
<div id="homeheader">
<div id="mainimg">

  <img src="assets/mainheader.jpg" width="700" height="330" alt="main image" /></div>
<div id="rightboxes">
<div class="box1">
<p class="rotate">

<a href="/c/19af"><span>Content Example</span> </a>
</p>
</div>
<div class="box2">

<p class="rotate">

<a href="/k/19af"><span>Key Example</span> </a>
</p>
</div>

<div class="box3">
<p class="rotate">

<a href="#"><span>What our clients say ?</span> </a>
</p>


</div>

</div>
<div class="clear"></div>
</div>
<div id="maincontent">
<div id="threecol">
<div class="col1">

<h2>About </h2>
<p>CSS Heaven - 2 is a Free CSS Template designed by Roshan and released by CSSHeaven.org. This template suitable for small business or personal websites.</p>

</div>
<div class="col2">

<h2>What else ?</h2>
<p>That's all and some lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer aliquam pulvinar adipiscing. In euismod nunc vel mauris placerat vitae fermentum lacus pharetra. </p>

</div>

<div class="col3">

<h2>License</h2>
<p>This template is released under General Public License (GPL). You may modify, use, or redistribute this template. This tempalte comes without any warranty.</p>

</div>


<div class="clear"></div>
</div>
<div class="clear bordered"></div>
<div id="page">

<h2 class="subhead"><span>Latest from the Journal</span></h2>
<div class="post">
<div class="posthead">
<p class="date">June 05, 2010</p>
<h3><a href="#">Example of a title</a></h3>
<p class="postmeta">By Roshan, Posted under <a href="#">Sitenews</a> | <a href="#">10 Comments</a></p>

</div>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at turpis metus. Donec gravida varius metus et tincidunt. Sed sit amet orci ipsum. Nunc scelerisque purus at massa faucibus id scelerisque nisi suscipit. Cras mollis, nunc eu mattis cursus, lorem mi sollicitudin lectus, ac luctus libero sem at erat. Phasellus commodo vulputate odio sed lobortis. Vivamus in augue ipsum. Integer non quam eget leo egestas lacinia eu ac magna. Sed nec odio nisl, et ultrices mauris. Morbi odio lacus, porta eu venenatis eget, pulvinar a odio.

  <a href="#">Read More</a></p>
</div>
<div class="post">
<div class="posthead">
<p class="date">June 05, 2010</p>
<h3><a href="#">Example of a title</a></h3>
<p class="postmeta">By Roshan, Posted under <a href="#">Sitenews</a> | <a href="#">10 Comments</a></p>

</div>
<p>
Phasellus pretium justo vitae arcu sollicitudin lobortis. Fusce varius, dolor dignissim dignissim suscipit, quam sem laoreet lorem, ut pretium quam lectus quis nunc. In hac habitasse platea dictumst. Sed enim tortor, blandit viverra consectetur vel, pulvinar at velit. Praesent ut ipsum nisl, et elementum lorem. Donec egestas ligula sed ipsum viverra a fermentum libero varius. Nullam vehicula fringilla diam a gravida. Aenean a lacus sit amet diam eleifend consequat. Praesent aliquet hendrerit arcu, sit amet elementum ligula pretium sed... <a href="#">Read More</a></p>
</div>
<div class="post">
<div class="posthead">
<p class="date">June 05, 2010</p>
<h3><a href="#">Example of a title</a></h3>
<p class="postmeta">By Roshan, Posted under <a href="#">Sitenews</a> | <a href="#">10 Comments</a></p>

</div>

<p>Praesent tempor, diam at egestas mollis, nisi sapien tristique sem, ac feugiat lectus sapien in turpis. Nam viverra nibh quis arcu aliquam non hendrerit velit vehicula. In eleifend arcu eu lectus eleifend egestas. Aliquam augue enim, aliquam vitae ullamcorper in, placerat eget erat. Cras non odio eu mi convallis laoreet faucibus non turpis. Nulla facilisi. Vestibulum sed nibh elit. Nullam aliquam interdum dolor, in sollicitudin urna iaculis porttitor. Suspendisse sagittis pretium metus at dictum. Pellentesque vel ante ipsum. </p>
</div>
</div>
<div id="sidebar">
<h2>Categories</h2>
<ul class="menu">
<li><a href="#">Computers</a></li>
<li><a href="#">Health &amp; Beauty</a></li>

<li><a href="#">Apple / Macintosh</a></li>


</ul>
<h2>Latest Articles</h2>
<ul class="posts">
<li><a href="#">Lorem Ipsum Dolar Sit Amet</a> <span>12/12/2009 | 12 Comments</span>
</li>
<li><a href="#">Nullam Nulla Quam, Sagittis</a> <span>12/12/2009 | 12 Comments</span>
</li>
<li><a href="#">Ultrices Vel Arcu Phasellus</a> <span>12/12/2009 | 12 Comments</span>
</li>
<li><a href="#">Phasellus Faucibus Lacus Non Eros</a> <span>12/12/2009 | 12 Comments</span>
</li>
<li><a href="#">Sed Tempus Est A Mi Iaculis</a> <span>12/12/2009 | 12 Comments</span>
</li>

<li><a href="#">Lorem Ipsum Dolar Sit Amet</a> <span>12/12/2009 | 12 Comments</span>
</li>
<li><a href="#">Nullam Nulla Quam, Sagittis</a> <span>12/12/2009 | 12 Comments</span>
</li>
<li><a href="#">Ultrices Vel Arcu Phasellus</a> <span>12/12/2009 | 12 Comments</span>
</li>
<li><a href="#">Phasellus Faucibus Lacus Non Eros</a> <span>12/12/2009 | 12 Comments</span>
</li>
<li><a href="#">Sed Tempus Est A Mi Iaculis</a> <span>12/12/2009 | 12 Comments</span>
</li>
</ul>
</div>
<div class="clear"></div>
</div>
</div>
</div>
<div id="bottom">
<div id="btmcontent">
<div class="col1">
<h2>Products</h2>
<p>raesent tempor, diam at egestas mollis, nisi sapien tristique sem, ac feugiat lectus sapien in turpis. Nam viverra nibh quis arcu aliquam non hendrerit velit vehicula.</p>
<ul>
	<li><a href="#">raesent tempor</a></li>
	<li><a href="#"> diam at egestas mollis</a></li>
	<li><a href="#"> nisi sapien tristique sem</a></li>
	<li><a href="#">ac feugiat lectus sapien in turpis</a></li>
	<li><a href="#">Nam viverra nibh quis </a></li>
	<li><a href="#">arcu aliquam non hendrerit </a></li>
	<li><a href="#">velit vehicula</a></li>

</ul>
</div>

<div class="col2">
<h2>Support</h2>

<p>raesent tempor, diam at egestas mollis, nisi sapien tristique sem, ac feugiat lectus sapien in turpis. Nam viverra nibh quis arcu aliquam non hendrerit velit vehicula.</p>
<ul>
	<li><a href="#">raesent tempor</a></li>
	<li><a href="#"> diam at egestas mollis</a></li>
	<li><a href="#"> nisi sapien tristique sem</a></li>
	<li><a href="#">ac feugiat lectus sapien in turpis</a></li>
	<li><a href="#">Nam viverra nibh quis </a></li>
	<li><a href="#">arcu aliquam non hendrerit </a></li>
	<li><a href="#">velit vehicula</a></li>

</ul>

</div>

<div class="col3">
<h2>Company</h2>
<p>raesent tempor, diam at egestas mollis, nisi sapien tristique sem, ac feugiat lectus sapien in turpis. Nam viverra nibh quis arcu aliquam non hendrerit velit vehicula.</p>
<ul>
	<li><a href="#">raesent tempor</a></li>
	<li><a href="#"> diam at egestas mollis</a></li>
	<li><a href="#"> nisi sapien tristique sem</a></li>
	<li><a href="#">ac feugiat lectus sapien in turpis</a></li>
	<li><a href="#">Nam viverra nibh quis </a></li>
	<li><a href="#">arcu aliquam non hendrerit </a></li>
	<li><a href="#">velit vehicula</a></li>

</ul>
</div>
<div class="clear"></div>
</div>
<div id="footer">

<p>Your Company</p>
<span class="credit"><a href="http://cssheaven.org" title="free and open source css template">CSS Template</a> by CSS Heaven Released under GPL License</span>
</div>
</div>