<% content_for :top_column do %>
<div id="homeheader">

	<div id="mainimg">

		<img src="/assets/mainheader.jpg" width="700" height="330" alt="main image" />
	</div>
	<div id="rightboxes">
		<div class="box1">
			<p class="rotate"><a href="/c/19af"><span>Content Example</span> </a></p>
		</div>
		<div class="box2">
			<p class="rotate">

				<a href="/k/19af"><span>Key Example</span> </a>
			</p>
		</div>

		<div class="box3">
			<p class="rotate">

				<a href="#"><span>What our clients say ?</span> </a>
			</p>


		</div>

	</div>
	<div class="clear"></div>
</div>
<% end %>

<% content_for :top_main_content_column do %>
	<div id="threecol">
		<div class="col1">

			<h2>About</h2>
			<p>CSS Heaven - 2 is a Free CSS Template designed by Roshan and released by CSSHeaven.org. This template suitable for small business or personal websites.</p>

		</div>
		<div class="col2">

			<h2>What else ?</h2>
			<p>That's all and some lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer aliquam pulvinar adipiscing. In euismod nunc vel mauris placerat vitae fermentum lacus pharetra. </p>

		</div>

		<div class="col3">

			<h2>License</h2>
			<p>This template is released under General Public License (GPL). You may modify, use, or redistribute this template. This tempalte comes without any warranty.</p>

		</div>

		<div class="clear"></div>
	</div>
<% end %>