<div id="topbanner">
	<div class="container">
		<h1 id="sitename"><a href="/">Priv.ly </a><span>Share Priv(ate).ly</span></h1>
		<div id="mainnav">
			<ul>
				<li class="active"><a href="/">Welcome <span>home</span></a></li>
    			<li><a href="/posts">Posts <span>list</span></a></li>
    			<li><a href="about.html">About <span>info</span></a></li>
    			<% if user_signed_in? %>
    			<li><%= link_to user_omniauth_callback do %>
    			    Logout
    			    <span>auth</span>
    			    <% end %>
    			</li>
    			<% else %>
    			<li><%= link_to new_user_session_path do %>
    			    Login
    			    <span>auth</span>
    			    <% end %>
    			</li>
    			<% end %>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
</div>